<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.frankstar.java.frame.learn.mybatis.dao.UserDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <resultMap id="userEntity" type="com.frankstar.java.frame.learn.mybatis.entity.UserEntity">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="age" column="user_age"/>
        <result property="birthday" column="birthday"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <select id="selectUser" resultMap="userEntity">
      select * from frank_user where id = #{id}
   </select>
    
    <select id="loadUserById" resultMap="userEntity">
        select * from frank_user where id = #{userId}
    </select>
</mapper>
