<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-learn:war">
    <output-path>$PROJECT_DIR$/spring-mvc-learn/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-mvc-learn</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-mvc-learn-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mvc-learn:war exploded" />
    </root>
  </artifact>
</component>